{% extends 'base.html' %}

{% block left-rail %}
{% endblock %}

{% block right-rail %}
{% endblock %}

{% block center-content %}
<div class="ui segment">
  <h2 class="ui center aligned icon header">
    <i class="rss icon"></i>
    Image Information Retrieval Demo
  </h2>
</div>

<form method="post" target="{% url 'img-ir' %}" enctype="multipart/form-data">
  <div class="ui icon input">
    <div class="ui labeled input">
      <div class="ui label">
        Key Image
      </div>
      <input id="upload-select-name" type="text" placeholder="No image selected" name="file-name"
        style="cursor: pointer" onclick="fileUploadButtonReload()" readonly>
      <input id="upload-select" type="file" name="cover" accept=".jpg" style="display: none">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <div class="ui labeled input">
      <div class="ui label">
        Limit
      </div>
      <input type="text" placeholder="Limit" name="limit" value="{{ request.GET.limit }}">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <button type="submit" class="ui right labeled icon button">
      <i class="right arrow icon"></i>
      Go
    </button>
  </div>
  {% csrf_token %}
</form>

<table class="ui celled table">
  <thead>
    <tr>
      <th style="width: 100px;">是否已选</th>
      <th style="width: 200px;">课程名称</th>
      <th style="width: 100px;">学分</th>
      <th style="width: 100px;">开课年级</th>
      <th style="width: 100px;">开课学期</th>
      <th>必修专业</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="ui fitted toggle checkbox">
          <input type="checkbox" class="cc-course-checkbox" control-id="ControlID-5"><label for=""></label>
        </div>
      </td>
      <td class="cc-course-name">运筹学（二）</td>
      <td class="cc-course-credit">2</td>
      <td class="cc-course-grade">大二</td>
      <td class="cc-course-term">春季</td>
      <td class="cc-course-major">信息管理与信息系统|工业工程|工程管理|能源经济|经济统计|金融工程</td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block my-script %}
<script>
  function fileUploadButtonReload() { // 文件上传按钮重载
    $("#upload-select").click();
    $("#upload-select").bind("input propertychange", fileUploadButtonReloadName);
  }

  function fileUploadButtonReloadName() {
    var filepath, filename;
    filepath = $("#upload-select").val();
    filename = filepath.substring(filepath.lastIndexOf("\\") + 1);
    if (filename) {
      $("#upload-select-name").show().val("Selected: " + filename);
    } else {
      $("#upload-select-name").show().text("No file selected");
    }
  }
</script>
{% endblock %}