{% extends 'base.html' %}

{% block left-rail %}
{% endblock %}

{% block right-rail %}
{% endblock %}

{% block center-content %}
<div class="ui segment">
  <h2 class="ui center aligned icon header">
    <i class="podcast icon"></i>
    Playback Volume Prediction Demo
  </h2>
</div>

<form method="post" target="{% url 'predict' %}" enctype="multipart/form-data">
  <div class="ui icon input">
    <div class="ui labeled input">
      <div class="ui label">
        Title
      </div>
      <input type="text" placeholder="title" name="title" value="{{ request.GET.title }}">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <div class="ui labeled input">
      <div class="ui label">
        Cover
      </div>
      <input id="upload-select-name" type="text" placeholder="No file selected" name="file-name" style="cursor: pointer" onclick="fileUploadButtonReload()" readonly>
      <input id="upload-select" type="file" name="cover" accept=".jpg" style="display: none">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <div class="ui labeled input">
      <div class="ui label">
        Duration
      </div>
      <input type="text" placeholder="duration" name="duration" value="{{ request.GET.duration }}">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <button type="submit" class="ui right labeled icon button">
      <i class="right arrow icon"></i>
      Go
    </button>
  </div>
{% csrf_token %}
</form>

<table class="ui celled table">
  <thead>
    <tr>
      <th style="width: 100px;">序号</th>
      <th style="width: 100px;">BV号</th>
      <th style="width: 100px;">标题</th>
      <th style="width: 100px;">简介</th>
      <th style="width: 100px;">时长</th>
      <th style="width: 100px;">播放量</th>
      <th style="width: 100px;">直达连接</th>
    </tr>
  </thead>
  <tbody>
  {% for key,value in res.items %}
      <tr>
      <td>{{ key }}</td>
      <td>{{ value.bvid }}</td>
      <td>{{ value.title }}</td>
      <td>{{ value.describe }}</td>
      <td>{{ value.duration }}</td>
      <td>{{ value.playback }}</td>
      <td>{{ value.line }}</td>
      </tr>
  {% endfor %}
    <tr>
      <td>2</td>
      <td>运筹学（二）</td>
      <td>BV1xb4y1t7Lg</td>
      <td>关于我莫名其妙上热搜第一，又被当地政府请去喝茶这件事</td>
      <td>记录离谱的一周；感谢大家！</td>
      <td>5537238</td>
      <td>31805</td>
      <td>96652</td>
      <td>https://www.bilibili.com/video/av634139543</td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block my-script %}
<script>
function fileUploadButtonReload() { // 文件上传按钮重载
    $("#upload-select").click();
    $("#upload-select").bind("input propertychange",fileUploadButtonReloadName);
}

function fileUploadButtonReloadName() {
    var filepath,filename;
    filepath = $("#upload-select").val();
    filename = filepath.substring(filepath.lastIndexOf("\\")+1);
    if (filename) {
        $("#upload-select-name").show().val("Selected: " + filename);
    } else {
        $("#upload-select-name").show().text("No file selected");
    }
}
</script>
{% endblock %}