{% extends 'base.html' %}

{% block left-rail %}
{% endblock %}

{% block right-rail %}
{% endblock %}

{% block center-content %}
<div class="ui segment">
  <h2 class="ui center aligned icon header">
    <i class="closed captioning icon"></i>
    Text Information Retrieval Demo
  </h2>
</div>

<form method="get" target="{% url 'text-ir' %}">
  <div class="ui icon input">
    <div class="ui labeled input">
      <div class="ui label">
        Keywords
      </div>
      <input type="text" placeholder="Search..." name="search_for" value="{{ request.GET.search_for }}">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <div class="ui labeled input">
      <div class="ui label">
        Title Weight
      </div>
      <input type="text" placeholder="title weight" name="title_weight" value="{{ request.GET.title_weight }}">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <div class="ui labeled input">
      <div class="ui label">
        Limit
      </div>
      <input type="text" placeholder="Limit" name="limit" value="{{ request.GET.limit }}">
    </div>
    <div style="padding-left: 10px"> &nbsp; </div>
    <button type="submit" class="ui right labeled icon button">
      <i class="right arrow icon"></i>
      Go
    </button>
  </div>
</form>

{% if res %}
<table class="ui celled table">
  <thead>
    <tr>
      <th style="max-width: 50px;">序号</th>
      <th style="max-width: 80px;">BV号</th>
      <th style="max-width: 100px;">标题</th>
      <th style="max-width: 100px;">简介</th>
      <th style="max-width: 40px;">时长</th>
      <th style="max-width: 50px;">播放量</th>
      <th style="max-width: 200px;">直达连接</th>
    </tr>
  </thead>
  <tbody>
    {% for key,value in res.items %}
    <tr>
      <td style="max-width: 50px;">{{ key }}</td>
      <td style="max-width: 80px;">{{ value.bvid }}</td>
      <td style="max-width: 100px;">{{ value.title }}</td>
      <td style="max-width: 100px;">{{ value.describe }}</td>
      <td style="max-width: 40px;">{{ value.duration }}</td>
      <td style="max-width: 50px;">{{ value.playback }}</td>
      <td style="max-width: 200px;">{{ value.line }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}